nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: aquamarine;
}

.navbarList {
    display: flex;
    list-style: none;
    gap: 10px;
}

.navbarList li {
    font-size: 1rem;
    font-weight: 700;
    color:rgb(44, 99, 81);
}

.exitButton{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: rgb(44, 99, 81);
    font-size: 1rem;
    font-weight: 700;
}